<f:section name="Header">
    <f:if condition="{settings.klaro.consentMode} || {settings.klaro.consentModev2}">
		<f:then>
			<script>
				// Define dataLayer and the gtag function.
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}

				// Set default consent to 'denied'
				gtag('consent', 'default', {
					'ad_storage': 'denied',
					'analytics_storage': 'denied',
					'ad_user_data': 'denied',
					'ad_personalization': 'denied',
					'functionality_storage': 'denied',
					'personalization_storage': 'denied',
					'security_storage': 'granted',
					'wait_for_update': 500
				});
				
				consenTypeObj = {
					ad_storage: {service.adStorage} != 0 ? "{f:if(condition: '{service.adStorage} == 1', then: 'granted', else: 'denied')}" : "denied",
					analytics_storage: {service.analyticsStorage} != 0 ? "{f:if(condition: '{service.analyticsStorage} == 1', then: 'granted', else: 'denied')}" : "denied",
					ad_user_data: {service.adUserData} != 0 ? "{f:if(condition: '{service.adUserData} == 1', then: 'granted', else: 'denied')}" : "denied",
					ad_personalization: {service.adPersonalization} != 0 ? "{f:if(condition: '{service.adPersonalization} == 1', then: 'granted', else: 'denied')}" : "denied",
					functionality_storage: {service.functionalityStorage} != 0 ? "{f:if(condition: '{service.functionalityStorage} == 1', then: 'granted', else: 'denied')}" : "denied",
					personalization_storage: {service.personalizationStorage} != 0 ? "{f:if(condition: '{service.personalizationStorage} == 1', then: 'granted', else: 'denied')}" : "denied",
					security_storage: {service.securityStorage} != 0 ? "{f:if(condition: '{service.securityStorage} == 1', then: 'granted', else: 'denied')}" : "granted"
				};
			</script>

			<f:if condition="{settings.klaro.consentModev2}">
				<!-- Google tag (gtag.js) -->
				<script async src="https://www.googletagmanager.com/gtag/js?id=<f:format.raw>{service.apiKey}</f:format.raw>">
				</script>
				<script>
					window.dataLayer = window.dataLayer || [];
					function gtag(){dataLayer.push(arguments);}
	
					gtag('js', new Date());
					gtag('config', '<f:format.raw>{service.apiKey}</f:format.raw>');
					//Enable ads_data_redaction by default
					gtag('set', 'ads_data_redaction', true);
				</script>

				<script type="opt-in" data-type="text/javascript" data-name="{service.provider}-{service.uid}">
					gtag('consent', 'update', consenTypeObj);
				</script>
			</f:if>
			
			<f:if condition="{settings.klaro.consentMode}">
				<script>
					gtag('js', new Date());
					gtag('config', '<f:format.raw>{service.apiKey}</f:format.raw>');
					//Enable ads_data_redaction by default
					gtag('set', 'ads_data_redaction', true);
				</script>
				<script type="opt-in" data-type="text/javascript" data-name="{service.provider}-{service.uid}">
					function gtag() { dataLayer.push(arguments); }
					
					gtag('consent', 'update', consenTypeObj);

					// Load gtag.js script.
					var gtagScript = document.createElement('script');
					gtagScript.async = true;
					gtagScript.src = 'https://www.googletagmanager.com/gtag/js?id=<f:format.raw>{service.apiKey}</f:format.raw>';

					var firstScript = document.getElementsByTagName('script')[0];
					firstScript.parentNode.insertBefore(gtagScript,firstScript);
				</script>
			</f:if>
		</f:then>
		<f:else>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script type="opt-in" data-type="text/javascript" data-name="{service.provider}-{service.uid}" data-src="https://www.googletagmanager.com/gtag/js?id={service.apiKey}"></script>
			<script type="opt-in" data-type="text/javascript" data-name="{service.provider}-{service.uid}">
				window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '<f:format.raw>{service.apiKey}</f:format.raw>');
				//Enable ads_data_redaction by default
				gtag('set', 'ads_data_redaction', true);
			</script>
		</f:else>
	</f:if>
</f:section>
<f:section name="Footer" />