<f:section name="Header"> 
	<f:if condition="{settings.klaro.consentMode} || {settings.klaro.consentModev2}">
		<f:then>
			<script>
				if({service.adStorage} != 0) {
						consenTypeObj.ad_storage = "{f:if(condition:'{service.adStorage}==1', then:'granted', else:'{f:if(condition:\'{service.adStorage}==2\', then:\'denied\')}')}";
				}
				if({service.analyticsStorage} != 0) {
					consenTypeObj.analytics_storage = "{f:if(condition:'{service.analyticsStorage}==1', then:'granted', else:'{f:if(condition:\'{service.analyticsStorage}==2\', then:\'denied\')}')}";
				}
				if({service.adUserData} != 0) {
					consenTypeObj.ad_user_data = "{f:if(condition:'{service.adUserData}==1', then:'granted', else:'{f:if(condition:\'{service.adUserData}==2\', then:\'denied\')}')}";
				}
				if({service.adPersonalization} != 0) {
					consenTypeObj.ad_personalization = "{f:if(condition:'{service.adPersonalization}==1', then:'granted', else:'{f:if(condition:\'{service.adPersonalization}==2\', then:\'denied\')}')}";
				}
				if({service.functionalityStorage} != 0) {
					consenTypeObj.functionality_storage = "{f:if(condition:'{service.functionalityStorage}==1', then:'granted', else:'{f:if(condition:\'{service.functionalityStorage}==2\', then:\'denied\')}')}";
				}
				if({service.personalizationStorage} != 0) {
					consenTypeObj.personalization_storage = "{f:if(condition:'{service.personalizationStorage}==1', then:'granted', else:'{f:if(condition:\'{service.personalizationStorage}==2\', then:\'denied\')}')}";
				}
				if({service.securityStorage} != 0) {
					consenTypeObj.security_storage = "{f:if(condition:'{service.securityStorage}==1', then:'granted', else:'{f:if(condition:\'{service.securityStorage}==2\', then:\'denied\')}')}";
				}
				serviceName = '{service.provider}-{service.uid}';
			
				if({service.adStorage} != 0 || {service.analyticsStorage} != 0 || {service.adUserData} != 0 || {service.adPersonalization} != 0 || {service.functionalityStorage} != 0 || {service.personalizationStorage} != 0 || {service.securityStorage} != 0) {
					serviceIsTypeOfConsentMode = true;
				} else {
					serviceIsTypeOfConsentMode = false;
				}
					
				serviceSetting = {
					serviceId: serviceName,
					serviceConsent: serviceIsTypeOfConsentMode,
					ad_storage: consenTypeObj.ad_storage || 'not set',
					analytics_storage: consenTypeObj.analytics_storage || 'not set',
					ad_user_data: consenTypeObj.ad_user_data || 'not set',
					ad_personalization: consenTypeObj.ad_personalization || 'not set',
					personalization_storage: consenTypeObj.personalization_storage || 'not set',
					functionality_storage: consenTypeObj.functionality_storage || 'not set'
				};
				
				// Hinzufügen des serviceSetting Objekts zum allServiceSettings Array
				allServiceSettings.push(serviceSetting);
				
			</script>
			
			<f:if condition="{settings.klaro.consentModev2}">
				<script>
					if({service.adStorage} != 0 || {service.analyticsStorage} != 0 || {service.adUserData} != 0 || {service.adPersonalization} != 0 || {service.functionalityStorage} != 0 || {service.personalizationStorage} != 0 || {service.securityStorage} != 0) {
						gtag('js', new Date());
						gtag('config', '<f:format.raw>{service.apiKey}</f:format.raw>');
					}
				</script>
			</f:if>
			<f:if condition="{settings.klaro.consentMode}">
				<script type="opt-in" data-type="text/javascript" data-name="{service.provider}-{service.uid}">
				</script>
			</f:if>
		</f:then>
		<f:else>
			<script type="opt-in" data-type="text/javascript" data-name="{service.provider}-{service.uid}">
			</script>
		</f:else>
	</f:if>
</f:section>

<f:section name="Footer" />