<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:we="http://typo3.org/ns/Websedit/WeCookieConsent/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default"/>

	<f:section name="content" ></f:section>

	<f:section name="HeaderAssets">
		<f:spaceless>
			<script>
				const storageName = '{settings.klaro.storageName}';
				const translatedButtonTextCookieSettings = '{klaroConfig.translations.en.openConsent}';
				const cookieSettingsImgPathDefault = '<f:uri.image src="{settings.klaro.cookieSettingsImgPathDefault}"/>';
				const cookieSettingsImgPathHover = '<f:uri.image src="{settings.klaro.cookieSettingsImgPathHover}"/>';
				const cookieIconPermanentlyAvailable = '{settings.klaro.cookieIconPermanentlyAvailable}';
				const cookieExpiresAfterDays = {settings.klaro.cookieExpiresAfterDays};
				let allServiceSettings = [];
				let consenTypeObj = {};
				let serviceSetting = {};
				let serviceName = {};
				let serviceIsTypeOfConsentMode = false;
			</script>
			<f:for each="{services}" as="service">
				<f:render partial="Service/{service.provider}" section="Header" arguments="{service:service}" optional="1"/>
			</f:for>
		</f:spaceless>
	</f:section>

	<f:section name="FooterAssets">
		<f:spaceless>
			<script type="text/javascript">var klaroConfig = {f:format.htmlentitiesDecode(value: '{klaroConfig -> we:format.json()}')}</script>
			<f:for each="{services}" as="service">
				<f:render partial="Service/{service.provider}" section="Footer" arguments="{service:service}" optional="1"/>
				<f:render partial="Klaro/Service" arguments="{service:service}"/>
			</f:for>
			<f:if condition="{settings.klaro.stylePrefix}">
				<f:then>
					<script type="text/javascript" src="{f:uri.resource(path: 'Library/klaro/klaro.js')}"></script>
				</f:then>
				<f:else>
					<script type="text/javascript" src="{f:uri.resource(path: 'Library/klaro/klaro-no-css.js')}"></script>
				</f:else>
			</f:if>
		</f:spaceless>
	</f:section>
</html>