@charset "UTF-8";
/* Basics: */
.klaro {
  font-family: inherit;
  font-size: 14px;
}

.klaro.we_cookie_consent button:focus {
  outline-style: none;
  outline-width: 0;
}

#klaro .klaro.we_cookie_consent.notice--center, #klaro .klaro.we_cookie_consent.notice--center-floated {
  height: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.klaro.we_cookie_consent .cookie-notice h1,
.klaro.we_cookie_consent .cookie-notice h2,
.klaro.we_cookie_consent .cookie-notice li,
.klaro.we_cookie_consent .cookie-notice p,
.klaro.we_cookie_consent .cookie-notice a,
.klaro.we_cookie_consent .cookie-notice strong,
.klaro.we_cookie_consent .cookie-notice ul,
.klaro.we_cookie_consent .cookie-modal h1,
.klaro.we_cookie_consent .cookie-modal h2,
.klaro.we_cookie_consent .cookie-modal li,
.klaro.we_cookie_consent .cookie-modal p,
.klaro.we_cookie_consent .cookie-modal a,
.klaro.we_cookie_consent .cookie-modal strong,
.klaro.we_cookie_consent .cookie-modal ul {
  color: #161f57;
  font-size: 1em;
}
.klaro.we_cookie_consent .cookie-notice a,
.klaro.we_cookie_consent .cookie-modal a {
  font-weight: 700;
  text-decoration: underline;
}

.klaro.we_cookie_consent {
  /* Center 1 und Center 2: */
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) {
  background: #FFF;
  border-radius: 4px;
  bottom: 0;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19);
  max-height: 100vh;
  max-width: 100%;
  overflow-y: auto;
  padding: 20px 30px;
  right: 0;
  z-index: 9999;
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body {
  background: #FFF;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  right: 0;
  top: auto;
  width: 100%;
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body p {
  margin: 0.5em 0;
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0.5em;
  width: 100%;
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-buttons {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 384px) {
  .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-buttons button.cm-btn {
    width: inherit;
  }
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn,
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn-sm {
  padding: 0.5em;
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-link {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: #161f57;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-link:hover {
  color: #161f57;
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn {
  background: #EFEFEF;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #161f57;
  margin: 0.5em 0;
  min-height: 40px;
  opacity: 1;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn:hover {
  opacity: 0.7;
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-success {
  background: #FFF;
  color: #161f57;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-info {
  color: #00AFCB;
  display: block;
  font-weight: normal;
  background: transparent;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-link,
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-learn-more {
  color: #00AFCB;
  display: block;
  font-weight: normal;
  background: transparent;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    min-width: auto;
  }
  .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cn-buttons {
    display: contents;
    max-width: 75%;
    width: 100%;
  }
  .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn {
    background: #EFEFEF;
    margin: 0.5em 0;
    padding: 1em 0;
    width: 25%;
  }
  .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-success {
    background: #FFF;
    margin: 0.5em 20px;
    text-align: center;
    width: calc(50% - 40px);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-info {
    text-align: right;
  }
  .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn-danger {
    border-color: transparent;
    background: transparent;
    text-align: left;
  }
  .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-link,
.klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-learn-more {
    padding: 1.5em 0;
    margin: 0 0 0 auto;
    width: auto;
  }
}
.klaro.we_cookie_consent .cookie-notice .cm-btn.cm-btn-success {
  background: #FFF;
  color: #161f57;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.klaro.we_cookie_consent .cookie-notice .cm-btn.cm-btn-info {
  color: #00AFCB;
  display: block;
  font-weight: normal;
  background: transparent;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}
.klaro.we_cookie_consent.notice--top .cookie-notice:not(.cookie-modal-notice) {
  bottom: auto;
  top: 0;
}
@media screen and (min-width: 576px) {
  .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn-danger, .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn-danger {
    border: 2px solid #00AFCB;
  }
}
@media screen and (min-width: 576px) {
  .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-link {
    line-height: 1.5em;
    margin-left: 10px;
    margin-top: 4rem;
    max-width: calc(50% - 10px);
    position: absolute;
    right: 0;
    z-index: 100;
  }
  .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn-danger {
    max-width: calc(50% - 10px);
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice), .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    bottom: unset;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0;
    margin: 0;
    max-height: unset;
    max-width: unset;
    overflow: visible;
    padding: unset;
    position: relative;
    right: unset;
    top: 50vh;
    width: 100%;
  }
  .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body, .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body {
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
    max-height: 100vh;
    max-width: 480px;
    overflow-y: auto;
    padding: 20px 30px;
    right: unset;
    width: calc(100% - 40px);
  }
  .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-link, .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-link {
    width: 100%;
  }
  .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn, .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn {
    background: #EFEFEF;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn.cm-btn-success, .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn.cm-btn-success {
    background: #FFF;
    border-color: #00AFCB;
    margin: 0.5em 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
  }
  .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn.cm-btn-success:hover, .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn.cm-btn-success:hover {
    background: #FFF;
    opacity: 0.7;
  }
  .klaro.we_cookie_consent.notice--center .cookie-notice .cn-body .cn-ok .cm-btn.cm-btn-info,
.klaro.we_cookie_consent.notice--center .cookie-notice .cn-body .cn-ok .cm-link.cm-learn-more {
    background: transparent;
  }
  .klaro.we_cookie_consent.notice--center .cookie-notice .cn-body .cn-ok .cm-link {
    width: 100%;
  }
  .klaro.we_cookie_consent.notice--center-floated .cookie-notice .cn-body .cn-ok .cm-btn {
    border-color: #161f57;
    width: 50%;
  }
  .klaro.we_cookie_consent.notice--center-floated .cookie-notice .cn-body .cn-ok .cm-btn.cm-btn-info,
.klaro.we_cookie_consent.notice--center-floated .cookie-notice .cn-body .cn-ok .cm-link.cm-learn-more {
    background: transparent;
  }
  .klaro.we_cookie_consent.notice--top .cookie-notice .cm-btn.cm-btn-success {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

/* ********************* */
/* Ver 2.0.1 -gf20210921 */
@media screen and (max-width: 767px) {
  #klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok > * {
    max-width: 100%;
    margin-right: 0;
  }
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn,
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn-sm {
  border: 2px solid #00AFCB;
  border-radius: 4px;
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-link {
  border: 2px solid #00AFCB;
  border-radius: 4px;
  z-index: 100;
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-link:hover {
  opacity: 0.7;
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-link::before {
  content: url("../Icons/icon-pen.svg");
  contain: content;
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: -32px;
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-link:hover::before {
  content: url("../Icons/icon-pen.svg");
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn {
  background: transparent;
  border-radius: 4px;
  font-weight: 500;
  margin: calc(0.5em - 2px) 0;
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-danger {
  background: #FFF;
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-danger::before {
  content: url("../Icons/icon-close.svg");
  contain: content;
  height: 22px;
  width: 20px;
  position: absolute;
  margin-left: -32px;
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-danger:hover::before {
  content: url("../Icons/icon-close.svg");
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-success {
  background: #FFF;
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-success::before {
  content: url("../Icons/icon-check-dark.svg");
  contain: content;
  height: 22px;
  width: 20px;
  position: absolute;
  margin-left: -32px;
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-success:hover::before {
  content: url("../Icons/icon-check-dark.svg");
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-info {
  color: #161f57;
  font-weight: 500;
  background: transparent;
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-info::before {
  content: "";
}
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-link,
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-learn-more {
  color: #161f57;
  display: block;
  font-weight: 500;
  background: transparent;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding: 0.5em 0;
  text-align: center;
  width: 100%;
  max-width: calc(100% - 0.5rem);
}
@media screen and (min-width: 768px) {
  #klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-link,
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-learn-more {
    padding: 1em 0;
  }
}
@media screen and (min-width: 768px) {
  #klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok {
    display: block;
  }
  #klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    min-width: auto;
    max-width: 33.333333%;
  }
  #klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok > .cm-link {
    width: 100%;
  }
  #klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cn-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
    max-width: 66.666666%;
    width: 100%;
  }
  #klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn {
    margin: 0.5em 10px;
  }
  #klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-success {
    background: #FFF;
    margin: 0.5em 0 0.5em 10px;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: calc(33.33333% - 20px);
    position: absolute;
    right: 0;
  }
  #klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn.cm-btn-info {
    text-align: right;
  }
  #klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-btn-danger {
    background: transparent;
    border-color: 2px solid #00AFCB;
    text-align: center;
  }
  #klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-link,
#klaro .klaro.we_cookie_consent .cookie-notice:not(.cookie-modal-notice) .cm-learn-more {
    padding: 1em 0;
    position: absolute;
    margin: 0.5em 33.333333%;
  }
}
#klaro .klaro.we_cookie_consent .cookie-notice .cm-btn.cm-btn-info {
  background: transparent;
}
@media screen and (min-width: 768px) {
  #klaro .klaro.we_cookie_consent .cookie-notice .cm-btn {
    width: calc(50% - 20px);
  }
}
@media screen and (min-width: 576px) {
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cn-buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn {
    height: 50px;
    max-width: calc(50% - 10px);
  }
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-link {
    border-color: transparent;
    height: 50px;
    line-height: 1.5em;
    margin: 10px auto 0;
    max-width: calc(50% - 10px);
    position: relative;
  }
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn-success {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media screen and (min-width: 768px) {
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-link {
    margin-top: 70px;
  }
}
@media screen and (min-width: 768px) {
  #klaro .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-link, #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-link {
    margin: 70px 0 0;
    max-width: 100%;
  }
  #klaro .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cn-buttons, #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cn-buttons {
    margin: 0;
    max-width: 100%;
  }
  #klaro .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn, #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn {
    margin: 130px 0 10px;
    width: calc(50% - 20px);
  }
  #klaro .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn.cm-btn-success, #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn.cm-btn-success {
    margin: 10px 0;
    max-width: 100%;
  }
  #klaro .klaro.we_cookie_consent.notice--center .cookie-notice .cn-body .cn-ok .cm-btn.cm-btn-info,
#klaro .klaro.we_cookie_consent.notice--center .cookie-notice .cn-body .cn-ok .cm-link.cm-learn-more {
    background: transparent;
    border: none;
  }
  #klaro .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn {
    width: 100%;
  }
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok {
    height: 130px;
  }
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cn-buttons {
    position: absolute;
    top: 10px;
  }
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn {
    border-color: #00AFCB;
    max-width: calc(50% - 10px);
    margin: 10px 0;
  }
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn.cm-btn-danger {
    width: calc(50% - 20px);
  }
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn.cm-btn-success {
    max-width: calc(50% - 10px);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
  }
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn.cm-btn-info,
#klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-link {
    background: transparent;
    position: relative;
    margin: 70px 0 0;
  }
}

/* Ver 2.0.1 -gf20210921 END. */
/* ************************** */
/* ********************* */
/* Ver 3.1.1 -gf20231121 */
@media screen and (min-width: 1520px) {
  #klaro .klaro.we_cookie_consent .cm-link::before,
#klaro .klaro.we_cookie_consent .cm-btn::before {
    margin-top: 0.25em;
  }
  #klaro .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-link {
    margin-top: calc(70px + 0.5em);
  }
  #klaro .klaro.we_cookie_consent.notice--center .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn {
    margin: calc(130px + 1em) 0 10px;
  }
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok {
    height: calc(130px + 0.5em);
  }
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-link {
    margin-top: calc(70px + 0.5em);
  }
  #klaro .klaro.we_cookie_consent.notice--center-floated .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok .cm-btn {
    height: 100%;
  }
}
.klaro.we_cookie_consent .cookie-modal {
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.klaro.we_cookie_consent .cookie-modal a:hover {
  opacity: 0.7;
}
.klaro.we_cookie_consent .cookie-modal .slider {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.klaro.we_cookie_consent .cookie-modal .cm-bg {
  background: rgba(0, 0, 0, 0.7);
}
.klaro.we_cookie_consent .cookie-modal .cm-list-label {
  margin: 0;
}
.klaro.we_cookie_consent .cookie-modal .cm-list-title {
  font-size: 1em;
  line-height: 32px;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal .cm-body ul.cm-services li.cm-service, .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-body ul.cm-services li.cm-purpose, .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-service, .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-purpose {
  padding-left: 72px;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal .cm-body ul.cm-services li.cm-toggle-all, .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-toggle-all {
  padding-left: 0;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal .cm-body ul.cm-services li.cm-toggle-all .cm-list-label, .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-toggle-all .cm-list-label {
  display: none;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal .cm-body ul.cm-services li.cm-purpose .cm-services .cm-content, .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-purpose .cm-services .cm-content {
  margin-left: -72px;
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose {
  padding-left: 92px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding-top: 0.5em;
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-label .slider,
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input:checked + .cm-list-label .slider,
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input.required:checked + .cm-list-label .slider {
  background-color: #EFEFEF;
  top: 2px;
  width: 72px;
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-label .slider::before {
  background-color: #B1D6E8;
  bottom: 2px;
  height: 24px;
  left: 2px;
  width: 24px;
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input.half-checked:checked + .cm-list-label .slider,
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input.only-required + .cm-list-label .slider {
  background-color: #EFEFEF;
  opacity: 0.8;
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input.half-checked:checked + .cm-list-label .slider::before,
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input.only-required + .cm-list-label .slider::before {
  background-color: #63ADD1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input:checked + .cm-list-label .slider::before {
  background-color: #008000;
  -webkit-transform: translateX(calc(100% + 20px));
          transform: translateX(calc(100% + 20px));
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input + .cm-list-label .disabled .slider::before,
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input:checked + .cm-list-label .disabled .slider::before,
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input.required + .cm-list-label .slider::before,
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input.required:checked + .cm-list-label .slider::before {
  background-color: #C9C9C9;
  display: none;
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input:not(.only-required) + .cm-list-label > .cm-list-title + .cm-switch::before {
  content: url("../Icons/icon-no.svg");
  height: 16px;
  left: 50px;
  line-height: 32px;
  padding: 2px;
  position: absolute;
  width: 16px;
  z-index: 10;
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input:checked + .cm-list-label > .cm-list-title + .cm-switch::before {
  content: "";
  left: 8px;
  padding: 2px;
  width: 16px;
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input:not(.half-checked):checked + .cm-list-label > .cm-list-title + .cm-switch::before {
  content: url("../Icons/icon-yes.svg");
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-label .cm-required ~ .cm-cswitch .slider,
.klaro.we_cookie_consent .cookie-modal .cm-purpose > .cm-list-input:checked + .cm-list-label .cm-required ~ .cm-switch .slider {
  background: url("../Icons/icon-locked.svg") no-repeat transparent;
  border-radius: unset;
  left: 12px;
  width: 24px;
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose .cm-switch {
  cursor: pointer;
  left: 0;
  position: absolute;
}
.klaro.we_cookie_consent .cookie-modal .cm-purpose .cm-switch::before {
  -webkit-animation: flipYesNo 0.3s ease 0s normal forwards;
          animation: flipYesNo 0.3s ease 0s normal forwards;
}
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-label .slider,
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input:checked + .cm-list-label .slider,
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input.required:checked + .cm-list-label .slider {
  background-color: #EFEFEF;
  top: 2px;
  width: 52px;
}
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-label .cm-required {
  margin-left: 0.5em;
}
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-label .slider::before {
  background-color: #B1D6E8;
  bottom: 2px;
  height: 24px;
  left: 2px;
  width: 24px;
}
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input.half-checked:checked + .cm-list-label .slider,
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input.only-required:checked + .cm-list-label .slider {
  background-color: #EFEFEF;
  opacity: 0.8;
}
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input.half-checked:checked + .cm-list-label .slider::before,
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input.only-required:checked + .cm-list-label .slider::before {
  background-color: #63ADD1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input.only-required + .cm-list-label .slider::before {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input:checked + .cm-list-label .slider::before {
  background-color: #008000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input + .cm-list-label .disabled .slider::before,
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input:checked + .cm-list-label .disabled .slider::before,
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input.required + .cm-list-label .slider::before,
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input.required:checked + .cm-list-label .slider::before {
  background-color: #C9C9C9;
  display: none;
}
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input:not(.only-required) + .cm-list-label > .cm-list-title + .cm-switch::before {
  content: url("../Icons/icon-no.svg");
  line-height: 32px;
  padding: 2px;
  position: absolute;
  width: 16px;
  z-index: 10;
  left: 30px;
  height: 16px;
}
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input:checked + .cm-list-label > .cm-list-title + .cm-switch::before {
  content: url("../Icons/icon-yes.svg");
  left: 8px;
  padding: 2px;
  width: 16px;
}
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-label .cm-required ~ .cm-cswitch .slider,
.klaro.we_cookie_consent .cookie-modal .cm-service > div > .cm-list-input:checked + .cm-list-label .cm-required ~ .cm-switch .slider {
  background: url("../Icons/icon-locked.svg") no-repeat transparent;
  border-radius: unset;
  left: 18px;
  width: 20px;
}
.klaro.we_cookie_consent .cookie-modal .cm-body > .cm-service > .cm-service > div > .cm-list-input:not(.only-required) + .cm-list-label > .cm-list-title + .cm-switch::before {
  padding-top: 10px;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro {
  background: #FFF;
  border-radius: 4px;
  bottom: 220px;
  height: auto;
  max-height: calc(100vh - 220px);
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  top: auto;
  -webkit-transform: inherit;
          transform: inherit;
  -webkit-transition: unset;
  transition: unset;
  width: 100%;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .hide {
  display: none;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .hide svg {
  display: none;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .hide:after {
  content: "×";
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-header {
  border-bottom: none;
  margin: 0;
  padding: 20px 30px;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-header h1 {
  font-size: 2em;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-body {
  margin: 0;
  padding: 20px 30px;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-body ul.cm-purposes li.cm-purpose {
  padding-left: 92px;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-body ul.cm-purposes li.cm-purpose.cm-toggle-all {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding-left: 0;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-toggle-all .cm-purpose-description {
  display: block;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-toggle-all .cm-list-input {
  display: none;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-footer {
  background: #FFF;
  border: none;
  bottom: 0;
  height: 220px;
  left: 0;
  margin: 0;
  padding: 20px 30px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-footer > * {
  -ms-flex-line-pack: end;
      align-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: calc(100% - 2em);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 0;
}
.klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-footer .cm-powered-by {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0;
  position: relative;
  right: unset;
  text-align: center;
  width: auto;
}
.klaro.we_cookie_consent .cookie-modal .cm-btn {
  background: #EFEFEF;
  border-radius: 4px;
  border: 2px solid #00AFCB;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #161f57;
  margin: 0.5em auto;
  opacity: 1;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}
.klaro.we_cookie_consent .cookie-modal .cm-btn:hover {
  opacity: 0.7;
}
.klaro.we_cookie_consent .cookie-modal .cm-btn-danger {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.klaro.we_cookie_consent .cookie-modal .cm-btn.cm-btn-info.cm-btn-accept {
  background: #FFF;
  color: #161f57;
  display: block;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-decoration: none;
  width: 100%;
}
.klaro.we_cookie_consent .cookie-modal .cm-btn.cm-btn-info.cm-btn-accept:hover {
  opacity: 0.7;
}
.klaro.we_cookie_consent .cookie-modal .cm-btn.cm-btn-accept-all {
  background: #EFEFEF;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.klaro.we_cookie_consent .cookie-modal .cm-btn.cm-btn-sm {
  padding: 0.5em 1.5em;
  font-size: 1em;
}
.klaro.we_cookie_consent .cookie-modal .cm-toggle-all .cm-purpose-description {
  display: none;
}
@media screen and (min-width: 576px) {
  .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro {
    max-height: calc(100vh - 150px);
    bottom: 150px;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-footer {
    height: 150px;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-footer > * {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    height: auto;
    margin: 0.5em -10px;
    max-width: calc(100% + 20px);
    width: calc(100% + 20px);
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-footer > * .cm-btn {
    margin: 0.5em 10px;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-footer .cm-powered-by {
    float: right;
    height: 50px;
    line-height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .klaro.we_cookie_consent .cookie-modal .cm-modal {
    max-height: 100vh;
    bottom: 0;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal .hide {
    right: 10px;
    top: 5px;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-header h1 {
    font-size: 2em;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-footer {
    margin: 0;
    padding: 20px 0;
    position: relative;
    width: 100%;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-footer > * {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-header {
    padding: 20px 30px;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-body {
    padding: 20px 30px;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-btn {
    padding: 1em 1.5em;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-btn:first-child:last-child {
    min-width: 240px;
    position: absolute;
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro.cm-klaro {
    max-height: calc(100vh - 100px);
    bottom: 100px;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-footer {
    height: 100px;
    max-width: 100%;
    padding: 20px 10px;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-footer > * {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin: 0.5em 0;
    max-width: 75%;
    position: absolute;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-footer .cm-btn {
    width: 25%;
    min-width: 240px;
  }
  .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-footer .cm-powered-by {
    padding: 15px 10px;
    position: absolute;
    right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .klaro.we_cookie_consent.notice--center, .klaro.we_cookie_consent.notice--center-floated {
    height: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }
}
@media screen and (min-width: 768px) {
  .klaro.we_cookie_consent.notice--center .cookie-modal, .klaro.we_cookie_consent.notice--center-floated .cookie-modal {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: unset;
    bottom: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: unset;
    max-width: unset;
    padding: unset;
    right: unset;
    overflow: visible;
    top: 0;
  }
  .klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal,
.klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal.cm-klaro, .klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal,
.klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal.cm-klaro {
    bottom: auto;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    height: auto;
    max-height: 100vh;
    max-width: 768px;
    overflow-y: auto;
    padding: 20px;
    position: relative;
    top: auto;
    width: 100%;
  }
  .klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal .cm-footer,
.klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal.cm-klaro .cm-footer, .klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal .cm-footer,
.klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal.cm-klaro .cm-footer {
    margin: 0 -20px -20px -20px;
    position: relative;
    width: calc(100% + 40px);
  }
}
@media screen and (min-width: 1024px) {
  .klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal,
.klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal.cm-klaro, .klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal,
.klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal.cm-klaro {
    bottom: auto;
    max-height: calc(100vh - 150px);
  }
  .klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal .cm-footer,
.klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal.cm-klaro .cm-footer, .klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal .cm-footer,
.klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal.cm-klaro .cm-footer {
    height: 150px;
    margin: 0 -20px -20px;
    max-width: calc(100% + 40px);
    padding-bottom: 0;
    width: calc(100% + 40px);
  }
  .klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal .cm-footer > *,
.klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal.cm-klaro .cm-footer > *, .klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal .cm-footer > *,
.klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal.cm-klaro .cm-footer > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: auto;
  }
  .klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal .cm-footer .cm-btn,
.klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal.cm-klaro .cm-footer .cm-btn, .klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal .cm-footer .cm-btn,
.klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal.cm-klaro .cm-footer .cm-btn {
    width: 100%;
    min-width: auto;
  }
  .klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal .cm-footer .cm-btn:first-child:last-child,
.klaro.we_cookie_consent.notice--center .cookie-modal .cm-modal.cm-klaro .cm-footer .cm-btn:first-child:last-child, .klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal .cm-footer .cm-btn:first-child:last-child,
.klaro.we_cookie_consent.notice--center-floated .cookie-modal .cm-modal.cm-klaro .cm-footer .cm-btn:first-child:last-child {
    width: calc(100% - 20px);
    position: relative;
  }
}

@-webkit-keyframes flipYesNo {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flipYesNo {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#klaro .klaro.we_cookie_consent .cookie-modal a {
  font-weight: 500;
}
#klaro .klaro.we_cookie_consent .cookie-modal .cm-btn {
  background: transparent;
  border-radius: 4px;
  border: 2px solid #00AFCB;
  color: #161f57;
  font-weight: 500;
}
#klaro .klaro.we_cookie_consent .cookie-modal .cm-btn-danger {
  background: #FFF;
}
#klaro .klaro.we_cookie_consent .cookie-modal .cm-btn-danger::before {
  contain: content;
  content: url("../Icons/icon-close.svg");
  height: 22px;
  margin-left: -28px;
  position: absolute;
  width: 20px;
}
#klaro .klaro.we_cookie_consent .cookie-modal .cm-btn-danger:hover::before {
  content: url("../Icons/icon-close.svg");
}
#klaro .klaro.we_cookie_consent .cookie-modal .cm-btn.cm-btn-accept {
  background: #FFF;
  color: #161f57;
}
#klaro .klaro.we_cookie_consent .cookie-modal .cm-btn.cm-btn-accept-all {
  background: transparent;
}
#klaro .klaro.we_cookie_consent .cookie-modal .cm-btn.cm-btn-accept-all::before {
  contain: content;
  content: url("../Icons/icon-check-dark.svg");
  height: 22px;
  margin-left: -28px;
  position: absolute;
  width: 20px;
}
#klaro .klaro.we_cookie_consent .cookie-modal .cm-btn.cm-btn-accept-all:hover::before {
  content: url("../Icons/icon-check-dark.svg");
}
@media screen and (min-width: 1024px) {
  #klaro .klaro.we_cookie_consent .cookie-modal .cm-modal .cm-footer .cm-btn {
    max-width: calc(33.3333% - 20px);
  }
}

.safari .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro {
  bottom: 0;
  max-height: 100%;
}
.safari .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-footer {
  position: relative;
}
.safari .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-header h1 {
  font-size: 1.75em;
}
@media screen and (min-width: 576px) {
  .safari .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro {
    bottom: 0;
    max-height: 100%;
  }
  .safari .klaro.we_cookie_consent .cookie-modal .cm-modal.cm-klaro .cm-header h1 {
    font-size: 2em;
  }
}

.klaro.cm-as-context-notice {
  padding: 1em;
}
.klaro.cm-as-context-notice .context-notice {
  border: none;
  border-radius: 4px;
  background: #FFF;
}
.klaro.cm-as-context-notice .context-notice p {
  color: #161f57;
}
.klaro.cm-as-context-notice .context-notice .cm-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2em;
  width: 100%;
}
.klaro.cm-as-context-notice .context-notice .cm-buttons .cm-btn {
  border-radius: 4px;
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: calc(50% - 20px);
  margin: 0 auto;
  padding: 1em 1.5em;
}
.klaro.cm-as-context-notice .context-notice .cm-buttons .cm-btn.cm-btn-success {
  background-color: #FFF;
}
.klaro.cm-as-context-notice .context-notice .cm-buttons .cm-btn.cm-btn-success-var {
  background-color: #F7A925;
}
.klaro.cm-as-context-notice .context-notice .cm-buttons .cm-btn:hover {
  opacity: 0.7;
}

.frame-type-list,
.frame-type-textpic,
.frame-type-textmedia {
  position: static;
}

.frame .frame-inner iframe,
.frame .frame-inner iframe:last-child {
  padding: 0;
  margin-bottom: -6px;
}
.frame .klaro.we_cookie_consent {
  border: 2px solid rgba(0, 0, 0, 0.1);
  position: static;
  height: 100%;
}
.frame .klaro.we_cookie_consent .context-notice {
  background-color: transparent;
}
.frame .klaro.we_cookie_consent .context-notice .cm-buttons .cm-btn.cm-btn-success,
.frame .klaro.we_cookie_consent .context-notice .cm-buttons .cm-btn.cm-btn-success-var {
  background: #FFF;
  border: 2px solid #00AFCB;
  border-radius: 4px;
  color: #161f57;
  font-weight: 500;
}
.frame .klaro.we_cookie_consent.notice--minified .context-notice {
  display: -ms-grid;
  display: grid;
  padding: 0;
}
.frame .klaro.we_cookie_consent.notice--minified .cm-buttons {
  margin-top: 0.5em;
  display: block;
}
.frame .klaro.we_cookie_consent.notice--minified .cm-btn {
  display: block;
  width: 100%;
  margin: 0.5em auto;
  max-width: calc(100% - 20px);
  padding: 0.5em;
}
.frame.frame-type-media .video, .frame.frame-type-textmedia .video,
.frame .textmedia-gallery .video {
  position: relative;
}
.frame.frame-type-media .video .klaro.we_cookie_consent, .frame.frame-type-textmedia .video .klaro.we_cookie_consent,
.frame .textmedia-gallery .video .klaro.we_cookie_consent {
  background-color: rgba(255, 255, 255, 0.8784313725);
  position: absolute;
  top: 0;
  z-index: 10;
}
@media (max-width: 575px) {
  .frame.frame-type-media .video .klaro.we_cookie_consent.cm-as-context-notice .context-notice, .frame.frame-type-textmedia .video .klaro.we_cookie_consent.cm-as-context-notice .context-notice,
.frame .textmedia-gallery .video .klaro.we_cookie_consent.cm-as-context-notice .context-notice {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
  .frame.frame-type-media .video .klaro.we_cookie_consent.cm-as-context-notice .context-notice .cm-buttons, .frame.frame-type-textmedia .video .klaro.we_cookie_consent.cm-as-context-notice .context-notice .cm-buttons,
.frame .textmedia-gallery .video .klaro.we_cookie_consent.cm-as-context-notice .context-notice .cm-buttons {
    margin-top: 1vw;
    padding: 0.5em;
    width: 100%;
  }
  .frame.frame-type-media .video .klaro.we_cookie_consent.cm-as-context-notice .context-notice .cm-buttons .cm-btn, .frame.frame-type-textmedia .video .klaro.we_cookie_consent.cm-as-context-notice .context-notice .cm-buttons .cm-btn,
.frame .textmedia-gallery .video .klaro.we_cookie_consent.cm-as-context-notice .context-notice .cm-buttons .cm-btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 5px auto;
    max-width: 100%;
  }
}

.tx-we-cookie-consent .service__headline {
  font-weight: bold;
}
.tx-we-cookie-consent h3,
.tx-we-cookie-consent .h3 {
  color: #161f57;
  font-size: 1.55rem;
  font-weight: 400;
}
.tx-we-cookie-consent caption {
  display: none;
}
.tx-we-cookie-consent .table {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.tx-we-cookie-consent .table thead th {
  border-bottom: 1px solid #ABABAB;
  font-size: 0.95rem;
  padding-bottom: 0;
  text-transform: uppercase;
}
.tx-we-cookie-consent .table th:last-of-type,
.tx-we-cookie-consent .table td:last-of-type {
  text-align: right;
}
.tx-we-cookie-consent .table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #efefef;
}
.tx-we-cookie-consent .table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.tx-we-cookie-consent a.btn-primary {
  color: #00AFCB;
  background-color: #FFF;
  border-color: #FFF;
}
.tx-we-cookie-consent .btn-primary:focus,
.tx-we-cookie-consent .btn-primary.focus,
.tx-we-cookie-consent .btn-primary:not(:disabled):not(.disabled):active:focus,
.tx-we-cookie-consent .btn-primary:not(:disabled):not(.disabled).active:focus,
.tx-we-cookie-consent .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.tx-we-cookie-consent .btn-primary:hover,
.tx-we-cookie-consent .btn-primary:not(:disabled):not(.disabled):active,
.tx-we-cookie-consent .btn-primary:not(:disabled):not(.disabled).active,
.tx-we-cookie-consent .show > .btn-primary.dropdown-toggle {
  opacity: 0.7;
}
.tx-we-cookie-consent .btn-lg, .tx-we-cookie-consent .btn-group-lg > .btn,
.tx-we-cookie-consent .btn-group-lg > .cc-btn {
  border-radius: 4px;
}
.tx-we-cookie-consent .table th, .tx-we-cookie-consent .table td {
  border-top: none;
  padding: 0.5rem;
}
.tx-we-cookie-consent .table th p, .tx-we-cookie-consent .table td p {
  margin: 0;
}
.tx-we-cookie-consent .table-hover tbody tr:hover {
  background-color: transparent;
}
.tx-we-cookie-consent a.btn-primary {
  border-radius: 0;
  text-decoration: none;
  display: inline-block;
}

.consent-cookie {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 10px;
  cursor: pointer;
  font-size: 0.875rem;
  left: 10px;
  position: fixed;
  z-index: 1000;
}

.consent-cookie-text {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2666666667);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2666666667);
  padding: 5px 10px;
}