.klaro.cm-as-context-notice{
	padding:1em;
	.context-notice {
		border: none;
		border-radius: $border-radius;
		background: $color-bg;
		p {
			color:$color-default;
		}
		.cm-buttons {
			display: flex;
			flex-wrap: wrap;
			margin-top: 2em;
			width: 100%;
			.cm-btn {
				border-radius: $border-radius;
				display: block;
				-webkit-box-flex: 0;
				flex: 0 0 50%;
				max-width: calc(50% - 20px);
				margin: 0 auto;
				padding: 1em 1.5em;
				&.cm-btn-success {
					background-color: $color-bg-success;
					&-var {
						background-color: $color-bg-primary;

					}
				}
				&:hover {
					opacity:$opacity-hover;
				}
			}
		}
	}
}

//  Ver 2.1.0  - gf20211112
// consent style  within page content area  gf2021-11-12:
// i.e. overlay boxes for external videos
.frame-type-list,
.frame-type-textpic,
.frame-type-textmedia {
	position: static;
}
.frame {
	.frame-inner iframe,
	.frame-inner iframe:last-child {
		padding: 0;
		margin-bottom: -6px;
	}
	.klaro.we_cookie_consent {
		border: $border-width solid rgba(0,0,0,0.1);
		position: static;
		height: 100%;
		.context-notice {
			background-color: transparent;
			.cm-buttons {
				.cm-btn.cm-btn-success,
				.cm-btn.cm-btn-success-var,
				{
					background: $color-bg-success;
					border: $border-style;
					border-radius: $border-radius;
					color: $color-font-success;
					font-weight: 500;
					// &::before {  /* use if icon before button text is to be shown */
						// content: $icon-success;  /* change as wished */
						// contain: content;
						// height: 20px;
						// width: 20px;
						// position: absolute;
						// margin-left: -32px;
					// }
				}
			}
		}

		&.notice--top,
		&.notice--center,
		&.notice--center-floated {
		}
		// if video integration within small iframes (width < 300px)  -gf20211115
		&.notice--minified {
			.context-notice {
				display: grid;
				padding: 0;
			}
			.cm-buttons {
				margin-top: .5em;
				display: block;
			}
			.cm-btn {
				display: block;
				width: 100%;
				margin: .5em auto;
				max-width: calc(100% - 20px);
				padding: .5em;
			}
		}
	}

	&.frame-type-media,
	&.frame-type-textmedia,    /* extend valid areas to more contents of type media -gf20220225 */
	.textmedia-gallery {
		.video {
			position:relative;
			.klaro.we_cookie_consent {
				background-color: $video-overlay-bg;
				position: absolute;
				top: 0;
				z-index:10;
				@media (max-width:575px) {
					&.cm-as-context-notice {
						.context-notice {
							flex-direction:unset;
							.cm-buttons {
								margin-top:1vw;
								.cm-btn {
									flex: 0 0 100%;
									margin: 5px auto;
									max-width: 100%;
								}
								padding:.5em;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}