.tx-we-cookie-consent {

	.service__headline {
		font-weight:bold;
	}
	h3,
	.h3 {
		color: $table-headline-color;
		font-size: 1.55rem;
		font-weight: 400;
	}
	caption{
		display: none;
	}
	.table {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
	.table thead th {
		border-bottom: 1px solid $table-border-color;
		font-size: 0.95rem;
		padding-bottom: 0;
		text-transform: uppercase;
	}
	.table th:last-of-type,
	.table td:last-of-type {
		text-align: right;
	}
	.table-striped tbody tr:nth-of-type(2n+1) {
		background-color: #efefef;
	}
	.table-hover tbody tr:hover {
		background-color: rgba(0,0,0,.05);
	}
	a.btn-primary {
		color: $color-font-edit;
		background-color: $color-bg-edit;
		border-color: $color-bg-edit;
	}
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:not(:disabled):not(.disabled):active:focus, 
	.btn-primary:not(:disabled):not(.disabled).active:focus,
	.show > .btn-primary.dropdown-toggle:focus {
		box-shadow: none;
	}
	.btn-primary:hover,
	.btn-primary:not(:disabled):not(.disabled):active,
	.btn-primary:not(:disabled):not(.disabled).active, 
	.show > .btn-primary.dropdown-toggle {
		opacity: $opacity-hover;
	}
	.btn-lg,.btn-group-lg > .btn,
	.btn-group-lg > .cc-btn {
		border-radius: $border-radius;
	}
	.table th,	.table td {
		border-top: none;
		padding: .5rem;
	}
	.table th p,	.table td p {
		margin:0;
	}
	.table-hover tbody tr:hover {
		background-color:transparent;
	}
	a.btn-primary {
		border-radius: 0;
		text-decoration: none;
		display: inline-block;
	}

}

